:root {
    --backdrop: #EDE8E8;
    --header-color: #994636;
    --text-color: #282B28;
    --header-text: #011936;
    --navlink-color: #EDB183;
    --text-link-color: #1A936F;
    --footer-color: #EDB183;
    --bar-color: #231123;
    --footer-text: #5A2328;
}

* {
    font-family: 'PlayfairDisplay';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--backdrop);
    line-height: 1.5;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--header-color);
    border-bottom: 5px solid var(--bar-color);
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    margin: 1%;
    font-size: 400%;
    color: var(--header-text);
}

h3 {
    font-size: 150%;
}

nav ul {
    display:flex;
    justify-content: space-between;
    min-width: 300px;
    font-size: 200%;
}

nav a {
    color: var(--navlink-color);
    font-weight: 500;
    text-decoration: none;
    padding:30px;
}

nav a:hover {
    color: #edb1835e;
}

#subheader {
    display: flex;
    height: 400px;
    width: 100%;
    background-image: url("../images/Microstructures.jpg");
    background-size:cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 400%;
    font-weight: 900;
    padding-right: 60px;
    color: #82a3a1;
}

.attribution {
    display:flex;
    font-size: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.attribution a {
    text-decoration:none;
    color: var(--navlink-color);
    padding-left: 5px;
    margin-bottom: 0px;
}

.attribution a:hover {
    color: var(--text-link-color);
}

.attribution a:link {
    color: var(--footer-text);
}

main {
    display:flex;
    padding-right: 30px;
    border-right: 5px var(--bar-color);
    flex-wrap: wrap;
}

aside {
    display:flex;
    justify-content: flex-start;
    font-size: 200%;
    padding: 0 1% 1% 0;
    margin: 0 1.5% 1.5% 0;
    color: var(--text-color);
    border-right: 5px solid var(--bar-color);
    min-width: 200px;
    text-align: center;
    flex-wrap: wrap;
}

.main-section {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    border-right: 10px var(--bar-color);
}

main p {
    display: flex;
    justify-content: flex-end;
    min-width: auto;
    text-align: left;
    flex-wrap:wrap;
}

section a p {
    font-size: 12px;
    font-style: none;
}

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid var(--bar-color);
    background-color: var(--footer-color);
}

footer li {
    list-style: none;
    font-size: 20px;
    color: var(--footer-text);
}

footer li:first-child {
    list-style: none;
    font-size: 30px;
    color: var(--footer-text);
}

@media screen and (max-width:998px) {
    header {
        flex-direction: column;
    }
}