:root {
    --backdrop: #EDE8E8;
    --header-color: #994636;
    --text-color: #282B28;
    --header-text: #011936;
    --navlink-color: #EDB183;
    --text-link-color: #1A936F;
    --footer-color: #EDB183;
    --bar-color: #231123;
    --footer-text: #5A2328;
}

* {
    font-family: 'PlayfairDisplay';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--backdrop);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--header-color);
    border-bottom: 5px solid var(--bar-color);
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    margin: 1%;
    font-size: 400%;
    color: var(--header-text);
}

h3 {
    font-size: 150%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-size: 200%;
}

nav a {
    color: var(--navlink-color);
    font-weight: 500;
    text-decoration: none;
    padding: 30px;
}

nav a:hover {
    color: #edb1835e;
}

#subheader {
    display: flex;
    height: 400px;
    width: 100%;
    background-image: url("../images/Microstructures.jpg");
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 400%;
    font-weight: 900;
    color: #82a3a1;
}

#subheader span {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px 0px 20px 40px;
    background: var(--header-text);
    border-radius: 60px 0 0 60px;
}

#subheader span div {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--navlink-color);
}

.attribution {
    display: flex;
    font-size: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.attribution a {
    text-decoration: none;
    color: var(--navlink-color);
    padding-left: 5px;
    margin-bottom: 0px;
}

.attribution a:hover {
    color: var(--text-link-color);
}

.attribution a:link {
    color: var(--footer-text);
}

main {
    display: flex;
    padding-right: 30px;
    border-right: 5px var(--bar-color);
    flex-wrap: wrap;
}

aside {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 5%;
    font-size: 200%;
    margin: 0 1.5% 1.5% 0;
    padding-right: 1%;
    color: var(--text-color);
    border-right: 5px solid var(--bar-color);
    text-align: center;
    flex-wrap: wrap;
    max-width: 15%;
}

.main-section {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-start;
    text-align: center;
    padding: 30px 0 40px 30px;
    flex-wrap: wrap;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3rem 3rem 3rem;
    gap: 1.5rem;
    justify-content: flex-start;
    text-align: center;
    border-right: 10px var(--bar-color);
    flex: 1 1 70%;
}

.main-box:first-of-type {
    justify-content: center;
}

main p {
    display: flex;
    align-items: flex-start;
    min-width: auto;
    text-align: left;
    flex-wrap: wrap;
    font-size: 18px;
}

#me {
    display: flex;
    justify-content: center;
    border: 3px solid var(--header-text);
    border-radius: 4px;
    padding: 5px;
    width: auto;
    height: 500px;
}

main a {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 3px 2px 14px var(--text-color);
    padding: 40px 40px 40px 0;
    margin: 0 0 40px 20px;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-start;
    align-items: flex-end;
    height: 350px;
    flex: 1 1 40%;
    transition: transform 200ms ease-in-out;
}

.card:hover {
    transform: translateY(-16px);
}

.card:first-of-type {
    background-image: url("../images/Sunset.jpg");
    flex: 1 1 100%;
}

.card span {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px 20px 0;
    background: var(--header-text);
    border-radius: 0 60px 60px 0;
}

.card span div {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--navlink-color);
}

#Project-2 {
    background-image: url("../images/Fjord.jpg");
}

#Project-3 {
    background-image: url("../images/Forest.jpg");
}

#Project-4 {
    background-image: url("../images/River.jpg");
}

#Project-5 {
    background-image: url("../images/Mountain.jpg");
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid var(--bar-color);
    background-color: var(--footer-color);
}

footer li {
    list-style: none;
    font-size: 20px;
    color: var(--footer-text);
}

footer li:first-child {
    list-style: none;
    font-size: 32px;
    color: var(--footer-text);
}

footer a {
    color: var(--text-link-color);
    font-weight: 500;
    text-decoration: none;
    padding: 30px;
}

footer a:hover {
    color: #997376;
}

@media screen and (max-width:1100px) {
    footer {
        flex-flow: column;
    }
}

@media screen and (max-width:998px) {
    header {
        flex-direction: column;
    }

    .main-box .card {
        flex-basis: 100%;
    }

    footer {
        flex-flow: column;
    }
}

@media screen and (max-width:734px) {
    header nav ul {
        flex-flow: wrap;
        justify-content: center;
    }

    main {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    aside {
        max-width: 100%;
        flex-basis: 100%;
        justify-content: center;
        border-right: none;
        border-bottom: 5px solid var(--bar-color);
        margin-bottom: 20px;
    }

    section p {
        flex-basis: 100%;
    }

    .main-box {
        flex-direction: row;
        flex-basis: 100%;
    }

    footer {
        flex-flow: column;
    }
}